* {
  box-sizing: border-box;
}



.landing-section {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 1.5em;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.landing-head {
  padding: 10% 0;
  background-color: #041E42;
  color: white;
  font-size: 2em;
}

section {
  min-height: 200px;
  padding: 6% ;
  background-color: #041E42;
}

.demo-button {
  background-color: #BF0D3E; 
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  height: 2em;
  width: 4em;
}
.demo-button:hover {
  background-color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

body {
  margin: 5%;
}
html {
  background-color: #BF0D3E;
}

@media screen and (min-width: 600px) {
  
 .demo-button {
  height: 10vh;
  width: 35%;
}
}