* {
  box-sizing: border-box;
  
}

.submit-button, .reset-button {
  background-color: #BF0D3E; 
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  height: 6em;
  width: 8em;
  margin: 10px;
}
.submit-button:hover, .reset-button:hover {
  background-color: #FFFFFF;
}
body {
  color: #ffff;
  text-align: center;
  line-height: 1.5;
}

.school-name {
  padding-bottom: 10%;
}


@media screen and (min-width: 600px) {
  
 .submit-button, .reset-button {
  height: 10vh;
  width: 20%;
}
.add-button {
   height: 10vh;
  width: 20%;
}

}






