.info-list, .stat-list {
  list-style: none;
  padding: 0px;
}

.delete-player, .edit-player {
  background-color: #BF0D3E; 
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  height: 6em;
  width: 8em;
  margin: 10px;
}
.delete-player:hover, .edit-player:hover {
  background-color: #FFFFFF;
}
@media screen and (min-width: 600px) {
  
 .edit-player, .delete-player {
  height: 10vh;
  width: 20%;
}
.player {
  display: flex;
  justify-content: space-between;
  text-align: left;
  columns: 2;
  padding: 6% 10% 0;
}
}