* {
  box-sizing: border-box;
}
h1, h2 {
  color: black;
}
label {
  width: 240px;
  display: inline-block;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background: gray;
  
}

.input-list {
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
  text-align: center;
}


.login-form {
  display: block;
  
}

