.player-add, .school-delete {
  background-color: #BF0D3E; 
  border: 0;
   border-radius: 5px;
  font-size: 1em;
  height: 6em;
  width: 8em;
  margin: 10px;
}
.player-add:hover, .school-delete:hover {
  background-color: #FFFFFF;
}
.player-button {
  background-color: #FFFFFF;
  font-size: 1.5em;
  border: 0;
  border-radius: 3px;
  margin: 10px;
  height: 3em;
  width: 6em;
}
.player-button:hover {
  background-color: #BF0D3E;
}

.player-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.recruit-list {
  margin: 0;
  padding: 0;
}

.select-head {
  margin-bottom: 40px;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  
 .player-add, .school-delete {
  height: 10vh;
  width: 20%;
}
}