* {
  
  box-sizing: border-box;
}
header {
margin-top: 5%;
}

.school-list {
  list-style: none;
  padding: 0;
}
.schools {
  margin-top: 5%;
}
.school-select {
  padding: 20px;
  color: white;
  margin: 0;
}
.add-button {
  background-color: #BF0D3E; 
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  height: 6em;
  width: 10em;
  
}
.add-button:hover {
  background-color: #FFFFFF;
}
.school-button {
  background-color: #FFFFFF;
  font-size: 1.5em;
  border: 0;
  border-radius: 3px;
  margin: 10px;
  height: 10vh;
  width: 35%;
}
button {
  font-family: 'Roboto', sans-serif;
}


body {
  background: #041E42;
  text-align: center;
  line-height: 1.5;
}

 a:hover {
  color: red;
}

@media screen and (min-width: 650px) {
  
 .school-button {
  height: 10vh;
  width: 35%;
}
ul.school-list {
  columns: 2;
}

}