* {
  box-sizing: border-box;
  
}

.back {
  float: left;
}

label {
  width: 240px;
  display: inline-block;
}

input, select {
  width: 165px;
}

.notes-textarea {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  display: block;
}

.eval {
  height: 100px;
  width: 300px;
}

button {
  display: inline-block;
  text-align: center;
}

body {
  background: gray;
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.input-list {
  list-style: none;
  text-align: left;
}


h2 {
  padding: 5%;
}

NavBar,
footer {
  padding: 1% 0;
  background-color: #aaa;
}
header {
margin-top: 10%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header {
  
  top: 0;
  left: 10%;
}